*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*, *::after, *::before{
	box-sizing: border-box;
	font: inherit;
	margin: 0;
	padding: 0;
}
html{
	font-size: 62.5%;
}
body{
	height: 100%;
  min-height: 100vh;
  word-break: break-word;
	overflow-wrap: break-word;
	text-align: justify;
	font-synthesis: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr, blockquote, img{
	display: block;
}
iframe, canvas, svg, video, img{
  max-width: 100%;
	height: auto;
	vertical-align: bottom;
}
rt, sup, sub{
	font-size: 0.7em;
}
table{
  border-collapse: collapse;
}
textarea{
  white-space: pre-wrap;
}
