/*RESET*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
	color: inherit;
	background-color: transparent;
}
html {
	width: 100%;
	min-height: 100vh;
	word-break: break-word;
	overflow-wrap: break-word;
	text-align: justify;
	font-synthesis: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr, blockquote, img{
	display: block;
	max-width: 100%;
}

/*COLOR*/
:root{
	--color: var(--white);
	--back: var(--black);
	--light: var(--lightgray);
	--accent1: var(--red);
	--accent2: var(--skyblue);
}
@media (prefers-color-scheme: light) {
	:root{
		--color: var(--black);
		--back: var(--white);
		--light: var(--gray);
	}
}

/*DESIGN*/
html {
	background-color: var(--back);
	color: var(--color);
	font: 14px/1.5 sans-serif;
}
main {
	padding: 1rem;
}
/*TITLE*/
#blogtitle {
	text-align: center;
	font-size: 2.4rem;
	padding: 2rem;
	margin-bottom: 2rem;
	text-stroke: 1px var(--back);
	background-image: repeating-linear-gradient(-45deg, var(--light), var(--light) 7.5px, transparent 0, transparent 15px);
}
/*H1*/
h1 {
	font-size: 2rem;
	border-bottom: 3px double var(--color);
	padding: 1rem;
	margin-bottom: 1rem;
}
/*H3*/
h3 {
	font-size: 1.5rem;
	border-bottom: 1px solid var(--color);
	border-left: 3px solid var(--color);
	padding: 0.5rem;
	margin: 2rem 0 1rem;
}

/*TABLE*/
table {
	width: 100%;
	border-collapse: collapse;
}
*:where(th, td) {
	padding: 0.5rem;
	vertical-align: middle;
	border: 1px solid var(--color);
}
th{
	text-align: center;
}
.fixed{
	table-layout: fixed;
}
/*P*/
p{
	text-indent: 1em;
}
