/*RESET*/
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
	all: unset;
	display: revert;
}
*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}
body {
	min-height: 100vh;
	word-break: break-word;
	overflow-wrap: break-word;
	text-align: justify;
	font-synthesis: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, hr, blockquote, img{
	display: block;
	max-width: 100%;
}

/*COLOR*/
:root{
	--color: var(--white);
	--back: var(--black);
	--light: var(--lightgray);
	--accent1: var(--red);
	--accent2: var(--skyblue);
}
@media (prefers-color-scheme: light) {
	:root{
		--color: var(--black);
		--back: var(--white);
		--light: var(--gray);
	}
}

/*DESIGN*/
html {
	background-color: var(--back);
	color: var(--color);
	font-size: 14px;
}
main {
	padding: 1em;
}
/*H3*/
h3 {
	font-size: 1.5em;
	border-bottom: 1px solid var(--color);
	padding: 0.5em;
}
h3+* {
	padding-top: 1em;
}
/*TABLE*/
table {
	width: 100%;
	border-collapse: collapse;
}
*:where(th, td) {
	padding: 0.5em;
	vertical-align: middle;
	border: 1px solid var(--color);
}
th{
	text-align: center;
}
.fixed{
	table-layout: fixed;
}
/*P*/
p{
	text-indent: 1em;
}
