/*THEME*/
:root {
	--weak: var(--red);
	--resist: var(--skyblue);
}

/*CONTENT*/
svg {
	stroke-width: 1;
	stroke-opacity: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
	transform-origin: center;
	stroke: var(--color);
	fill: none;
}

* {
	stroke-width: inherit;
	stroke-opacity: inherit;
	stroke-linecap: inherit;
	stroke-linejoin: inherit;
	transform-origin: inherit;
	stroke: inherit;
	fill: inherit;
}

text {
	font-family: "Noto Sans CJK JP", sans-serif;
	font-size: 14px;
	text-anchor: middle;
	fill: var(--color);
	stroke: none;
}

/*OTHER*/
.stroke {
	stroke: var(--color);
}

.fill {
	fill: var(--color);
}

rect.group {
	fill: none;
	stroke: var(--gray);
	rx: 20;
	ry: 20;
}

/*TEXT*/
text.class {
	text-align: center;
	dominant-baseline: middle;
}

/*COLOR*/
.arrow-end {
	marker-end: url(#arrow-end);
}

.weak {
	stroke: var(--color);
	filter: url(#weak_filter);
}

.resist {
	stroke: var(--color);
	filter: url(#resist_filter);
}

.weak.half:not(marker) {
	stroke-dasharray: 0 3 3 3;
}

.resist:not(marker) {
	stroke-dasharray: 1 3;
}
