/*THEME*/
:root {
	--weak: var(--red);
	--resist: var(--skyblue);
}

/*CONTENT*/
svg {
	stroke-width: 1.5;
	stroke-opacity: 1;
}

* {
	stroke-linecap: round;
	stroke-linejoin: round;
	transform-origin: center;
	stroke: var(--color);
}

text {
	font-family: "Noto Sans CJK JP", sans-serif;
	font-size: 10px;
	text-align: center;
	text-anchor: middle;
	dominant-baseline: middle;
	fill: var(--color);
	stroke: none;
}

/*OTHER*/
.fill {
	fill: var(--color);
}

rect.group {
	fill: none;
	stroke: var(--gray);
	rx: 20;
	ry: 20;
}

.icon {
	stroke: var(--color);
	fill: none;
}

/*TEXT*/
text.class {
	font-size: 14px;
}

/*COLOR*/
.weak {
	filter: url("#weak_filter");
	marker-end: url(#arrow);
}

.weak.half {
	stroke-dasharray: 0 3 3 3;
}

.resist {

	filter: url("#resist_filter");
	marker-end: url(#arrow);
}

.resist:not(marker) {
	stroke-dasharray: 1 3;
}

.resist.fill {
	fill: var(--resist)
}

.red {
	color: var(--red);
}

.skyblue {
	color: var(--skyblue);
}
